ZENZAP_API_KEY=CtAm2CFSgrhbBfkT
ZENZAP_API_SECRET=JWXPCMKjpyN6Y3vE4O9G3l0ylzuN7sk3
ZENZAP_TOPIC_ID=239827d1-726f-4d43-b560-b2b306227e67
ZENZAP_BASE_URL=https://api.zenzap.co
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=deepseek/deepseek-chat
PORT=8000
